fastapi==0.77.1
uvicorn==0.17.6
streamlit==1.9.0
python-multipart==0.0.5
pydantic==1.9.0
flake8==4.0.1
joblib==1.1.0
sklearn==0.0
jupyter==1.0.0
numpy==1.22.3
pandas==1.4.2
python-dotenv==0.20.0
apache-airflow==2.3.2
mlflow==1.26.1
psycopg2==2.9.3
configparser==5.2.0
protobuf==3.19.0
streamlit-aggrid==0.2.3.post2